server:
  port: ${SERVER_PORT:8888}

spring:
  application:
    name: ms-config
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:native}
  cloud:
    config:
      server:
        native:
          search-locations: classpath:/configurations
